<configuration>
    <!-- Define el appender para los logs en archivo JSON -->

    <appender name="jsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>instant</fieldName>
                </timestamp>
                <threadName>
                    <fieldName>process.thread.name</fieldName>
                </threadName>
                <logLevel>
                    <fieldName>log.level</fieldName>
                </logLevel>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc fieldName="labels">
                    <includedMdcKeyNames>
                        <includedMdcKeyName>custom.data</includedMdcKeyName>
                        <includedMdcKeyName>custom.classname</includedMdcKeyName>
                        <includedMdcKeyName>custom.method_name</includedMdcKeyName>
                        <includedMdcKeyName>custom.numberline</includedMdcKeyName>
                    </includedMdcKeyNames>
                </mdc>
                <jsonProvider>
                    <fieldName>user.id</fieldName>
                    <value>%X{user.id}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>user.full_name</fieldName>
                    <value>%X{user.full_name}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>client.ip</fieldName>
                    <value>%X{client.ip}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>client.domain</fieldName>
                    <value>%X{client.domain}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>container.name</fieldName>
                    <value>%X{container.name}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>host.ip</fieldName>
                    <value>%X{host.ip}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>host.hostname</fieldName>
                    <value>%X{host.hostname}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.code</fieldName>
                    <value>%X{event.code}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.reason</fieldName>
                    <value>%X{event.reason}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.outcome</fieldName>
                    <value>%X{event.outcome}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.category</fieldName>
                    <value>%X{event.category}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>operation.id</fieldName>
                    <value>%X{operation.id}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.method</fieldName>
                    <value>%X{http.request.method}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.response.status_code</fieldName>
                    <value>%X{http.response.status_code}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.body.content</fieldName>
                    <value>%X{http.request.body.content}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.response.body.content</fieldName>
                    <value>%X{http.response.body.content}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.referrer</fieldName>
                    <value>%X{http.request.referrer}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.headers</fieldName>
                    <value>%X{http.request.headers}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.url.path</fieldName>
                    <value>%X{http.request.url.path}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.path.params</fieldName>
                    <value>%X{http.request.path.params}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.query.params</fieldName>
                    <value>%X{http.request.query.params}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>error.stack_trace</fieldName>
                    <value>%X{error.stack_trace}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.topic</fieldName>
                    <value>%X{message.topic}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.partition</fieldName>
                    <value>%X{message.partition}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.offset</fieldName>
                    <value>%X{message.offset}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.key</fieldName>
                    <value>%X{message.key}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.timestamp</fieldName>
                    <value>%X{message.timestamp}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.payload</fieldName>
                    <value>%X{message.payload}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.name</fieldName>
                    <value>%X{job.name}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.start_time</fieldName>
                    <value>%X{job.start_time}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.end_time</fieldName>
                    <value>%X{job.end_time}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.duration_ms</fieldName>
                    <value>%X{job.duration_ms}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>feign.url</fieldName>
                    <value>%X{feign.url}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>feign.method</fieldName>
                    <value>%X{feign.method}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>feign.headers</fieldName>
                    <value>%X{feign.headers}</value>
                </jsonProvider>
            </providers>
        </encoder>
    </appender>

    <!-- Define el appender para los logs en la consola -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- Configurar los proveedores de JSON -->
                <timestamp>
                    <fieldName>instant</fieldName>
                </timestamp>
                <threadName>
                    <fieldName>process.thread.name</fieldName>
                </threadName>
                <logLevel>
                    <fieldName>log.level</fieldName>
                </logLevel>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <mdc fieldName="labels">
                    <includedMdcKeyNames>
                        <includedMdcKeyName>custom.data</includedMdcKeyName>
                        <includedMdcKeyName>custom.classname</includedMdcKeyName>
                        <includedMdcKeyName>custom.method_name</includedMdcKeyName>
                        <includedMdcKeyName>custom.numberline</includedMdcKeyName>
                    </includedMdcKeyNames>
                </mdc>
                <jsonProvider>
                    <fieldName>user.id</fieldName>
                    <value>%X{user.id}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>user.full_name</fieldName>
                    <value>%X{user.full_name}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>client.ip</fieldName>
                    <value>%X{client.ip}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>client.domain</fieldName>
                    <value>%X{client.domain}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>container.name</fieldName>
                    <value>%X{container.name}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>host.ip</fieldName>
                    <value>%X{host.ip}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>host.hostname</fieldName>
                    <value>%X{host.hostname}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.code</fieldName>
                    <value>%X{event.code}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.reason</fieldName>
                    <value>%X{event.reason}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.outcome</fieldName>
                    <value>%X{event.outcome}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>event.category</fieldName>
                    <value>%X{event.category}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>operation.id</fieldName>
                    <value>%X{operation.id}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.method</fieldName>
                    <value>%X{http.request.method}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.response.status_code</fieldName>
                    <value>%X{http.response.status_code}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.body.content</fieldName>
                    <value>%X{http.request.body.content}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.response.body.content</fieldName>
                    <value>%X{http.response.body.content}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.referrer</fieldName>
                    <value>%X{http.request.referrer}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>error.stack_trace</fieldName>
                    <value>%X{error.stack_trace}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.topic</fieldName>
                    <value>%X{message.topic}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.partition</fieldName>
                    <value>%X{message.partition}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.offset</fieldName>
                    <value>%X{message.offset}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.key</fieldName>
                    <value>%X{message.key}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.timestamp</fieldName>
                    <value>%X{message.timestamp}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>message.payload</fieldName>
                    <value>%X{message.payload}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.name</fieldName>
                    <value>%X{job.name}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.start_time</fieldName>
                    <value>%X{job.start_time}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.end_time</fieldName>
                    <value>%X{job.end_time}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>job.duration_ms</fieldName>
                    <value>%X{job.duration_ms}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>feign.url</fieldName>
                    <value>%X{feign.url}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>feign.method</fieldName>
                    <value>%X{feign.method}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>feign.headers</fieldName>
                    <value>%X{feign.headers}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.headers</fieldName>
                    <value>%X{http.request.headers}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.url.path</fieldName>
                    <value>%X{http.request.url.path}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.path.params</fieldName>
                    <value>%X{http.request.path.params}</value>
                </jsonProvider>
                <jsonProvider>
                    <fieldName>http.request.query.params</fieldName>
                    <value>%X{http.request.query.params}</value>
                </jsonProvider>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>